.plans{
    background-color: #000912;
    width: 100%;
    height: 100%;
}

.plans-title{
    text-align: center;
}

.plans-title h3{
    font-weight: 700;
    font-size: 40px;
    padding: 2.5%;
}

.plans-title button{
    border: #140e32;
    background-color: #140e32;
    height: 40px;
    width: 15%;
    border-radius: 20px;
}

.plans-cards{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}

.plans-cards h3{
    font-size: 30px;
    padding-left: 5%;
    padding-top: 5%;
}

.plans-cards p{
    padding: 5%;
    padding-bottom: 12.5%;
    border-bottom: 1px solid #fff;
}

.plans-cards h4{
    padding: 5%;
    font-size: 40px;
}

.plans-cards h4 span{
    font-weight: 300;
    font-size: 15px;
}

.cards-btn-plans{
    position: relative;
    text-align: center;
    margin-top: 5%;
}

.cards-btn-plans button{
    position: absolute;
    top: -30px;
    left: 10%;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    border: none;
    background-color: #ff8242;
    border-radius: 10px;
    width: 80%;
    height: 60px;
}

.cards-btn-plans button:hover{
    background-color: #fff;
    color: #ff8242;
    border: 2px solid #ff8242;
}

.card1{
    width: 30%;
    border: 1px solid #fff;
    border-radius: 10px;
    margin: 1%;
}

.card1:hover{
    background-color: #652db6;
    transition: 0.25s;
}

.card2{
    width: 30%;
    border: 1px solid #fff;
    border-radius: 10px;
    margin: 1%;
}

.card2:hover{
    background-color: #652db6;
    transition: 0.25s;
}

.card3{
    width: 30%;
    border: 1px solid #fff;
    border-radius: 10px;
    margin: 1%;
}

.card3:hover{
    background-color: #652db6;
    transition: 0.25s;
}


@media (min-width: 769px) and (max-width: 1024px) {
/* Estilos para tabletas */
/* Aquí van los estilos que deseas aplicar para tabletas */
.plans-cards{
    flex-wrap: wrap;
}
.card1{
    margin-right: 5%;
    width: 45%;
}

.card2{
    width: 45%;
}
.card3{
    margin-left: 27.5%;
    margin-top: 5%;
    width: 45%;
}
}
        
@media (max-width: 768px) {
/* Estilos para mobile */
/* Aquí van los estilos que deseas aplicar para mobile */
.card1{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
    width: 90%;
}
.card2{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
    width: 90%;
}
.card3{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
    width: 90%;
}
.plans-title button{
    width: 30%;
}
}