.welcome{
    border-top: medium dashed #fff;
    background-color: #000912;
    width: 100%;
    display: flex;
    padding-top: 5%;
}

.welcome-left{
    padding-left: 10%;
}
.welcome-left img{
    padding: 0.5%;
    border-radius: 15px;
    width: 45%;
}

.text-container-welcome-left{
    padding-top: 5%;
    padding-bottom: 5%;
}
.text-container-welcome-left p{
    color: #777;
    line-height: 30px;
    padding-right: 5%;
}

.welcome-right{
    padding-left: 5%;
    padding-right: 10%;
}
.welcome-right button{
    width: 50%;
    background-color: #140e32;
    height: 50px;
    border-radius: 25px;
    border: none;
    font-size: 17.5px;
    font-weight: 500;
}
.welcome-right h3{
    padding-top: 5%;
    padding-bottom: 10%;
    font-size: 60px;
}
.welcome-right p{
    color: #777;
    line-height: 25px;
    width: 85%;
    padding-bottom: 5%;
}
.welcome-right li{
    list-style: none;
    padding-top: 4%;
    color: #777;
}



.welcome-right-btn-container{
    display: flex;
    padding-top: 10%;
}
.btn-welcome-2{
    margin-left: 2.5%;
}
.welcome-right-btn-container button{
    width: 35%;
    height: 55px;
    border-radius: 10px;
    background-color: #000912;
    border: 1px solid #fff;
}
.welcome-right-btn-container button:hover{
    background-color: #6429b5;
    transition: 0.4s;
    border: none;
    cursor: pointer;
}



@media (min-width: 769px) and (max-width: 1024px) {
/* Estilos para tabletas */
/* Aquí van los estilos que deseas aplicar para tabletas */
.welcome{
    display: block;
    text-align: center;
}
.welcome-left{
    padding-left: 0%;
}
.welcome-right{
    padding-left: 0%;
    padding-right: 0%;
}
.welcome-right p{
    padding-left: 7.5%;
}
.welcome-right-btn-container{
    padding-left: 22.5%;
    padding-bottom: 5%;
}
}

            
@media (max-width: 768px) {
/* Estilos para mobile */
/* Aquí van los estilos que deseas aplicar para mobile */
.welcome{
    display: block;
    text-align: center;
}

.img-container-welcome-left{
    padding-left: 12.5%;
}
.welcome-left img{
    width: 75%;
    display: block;
}

.welcome-right{
    padding-left: 0%;
    padding-right: 0%;
}
.welcome-right p{
    padding-left: 7.5%;
}
.welcome-right-btn-container{
    padding-left: 22.5%;
    padding-bottom: 5%;
}
}