.bg-body-tertiary{
    padding: 0;
    width: 100%;
    position: sticky;
    top: 0;
    font-size: 20px;
    z-index: 1;
}
.me-auto{
    width: 100%;
}
.container-header{
    height: 70px;
    width: 100%;
    background-color: #000912;
}
.header-navbar-left{
    width: 75%;
    color: #fff;
    display: flex;
}
.header-navbar-right{
    width: 25%;
    display: flex;
}
.navlink-header{
    color: #fff;
}
.navlink-header:hover{
    color: #ff8241;
}
#basic-nav-dropdown{
    color: #fff;
}
#basic-nav-dropdown:hover{
    color: #ff8241;
}

@media (max-width: 990px) {
    /* Estilos para tabletas */
    /* Aquí van los estilos que deseas aplicar para tabletas */
    .header-navbar-left{
        text-align: center;
        width: 100%;
        display: block;
        background-color: #000912;
    }
    .header-navbar-right{
        text-align: center;
        width: 100%;
        display: block;
        background-color: #000912;
    }
    }