.footer{
    background-color: #000912;
    width: 100%;
}
.footer-top{
    padding: 100%;
    display: flex;
    border-bottom: medium dashed #777;
    padding: 2.5%;
}
.footer-top1{
    width: 40%;
}
.footer-top1 p{
    color: #777;
    padding-right: 15%;
    padding-bottom: 20%;
}
.footer-top1 b{
    color: #777;
}
.footer-top2{
    width: 20%;
}
.footer-top2 h3{
    font-size: 25px;
    padding-bottom: 5%;
}
.footer-top2 h5{
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 15px;
    font-weight: 500;
    color: #777;
}
.footer-top3{
    width: 20%;
}
.footer-top3 h3{
    font-size: 25px;
    padding-bottom: 5%;
}
.footer-top3 h5{
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 15px;
    font-weight: 500;
    color: #777;
}
.footer-top4{
    width: 20%;
}
.footer-top4 h3{
    font-size: 25px;
    padding-bottom: 5%;
}
.footer-top4 h5{
    padding-top: 3%;
    font-size: 13px;
    font-weight: 500;
    color: #777;
}
.footer-top4 button{
    width: 80%;
    margin-top: 15%;
    height: 50px;
    border-radius: 10px;
    background-color: #fff;
    color: #ff9a66;
    font-size: 15px;
    font-weight: 600;
    border: 2px solid #ff9a66;
}
.footer-top4 button:hover{
    color: #fff;
    background-color: #ff9a66;
    border: 2px solid #fff;
}



.footer-bottom{
    display: flex;
    justify-content: space-between;
    padding: 2.5%;
}
.footer-bottom h5{
    color: #777;
}



















@media (min-width: 769px) and (max-width: 1024px) {
/* Estilos para tabletas */
/* Aquí van los estilos que deseas aplicar para tabletas */
.footer-top4 h5{
    font-size: 10px;
}
}
        
@media (max-width: 768px) {
/* Estilos para mobile */
/* Aquí van los estilos que deseas aplicar para mobile */

.footer{
    text-align: center;
}
.footer-top{
    padding: 0%;
    padding-top: 10%;
    padding-bottom: 10%;
    display: block;
}
.footer-top1{
    width: 100%;
    padding-bottom: 5%;
}
.footer-top1 p{
    padding-left: 0;
    padding-right: 0;
}
.footer-top2{
    width: 100%;
    padding-bottom: 5%;
}
.footer-top3{
    width: 100%;
    padding-bottom: 5%;
}
.footer-top4{
    width: 100%;
}
.footer-top4 button{
    width: 50%;
}




.footer-bottom{
    display: block;
}
.footer-bottom h5{
    padding-top: 5%;
    padding-bottom: 5%;
}
}